<style>
.card {
  width:400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 22px;
  border-radius:100px;
  background-color: #0044e83d;
  display:inline-block;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #163172;
  color: white;
}

.container {
  padding: 0 16px;
}

.title {
  color: grey;
}

</style>


 <div class="about-section">
  <h1>About Us Page</h1>
  <p>Second Hand Portal for Students to find their desired book. </p>
</div>

<h2 style="text-align:center">Our Team</h2>
<span>
    <div class="card">
      <div class="container">
      <center>
          <h2>Aniket Narbariya</h2>
          <p class="title">Web Developer</p>
          <p><i class="fa fa-envelope" style="font-size:20px;"></i>&nbsp;aniket.narbariya@spit.ac.in</p>
        </center>
      </div>
    </div>

  
    <div class="card">
      <div class="container">
        <center>  
          <h2>Pritam Gaikwad</h2>
          <p class="title">Web Developer</p>
          <p><i class="fa fa-envelope" style="font-size:20px;"></i>&nbsp;pritam.gaikwad@spit.ac.in</p>
        </cenyer>
      </div>
    </div>

    <div class="card">
      <div class="container">
        <center>  
          <h2>Satyam Rai</h2>
          <p class="title">Web Developer</p>
          <p><i class="fa fa-envelope" style="font-size:20px;"></i>&nbsp;satyam.rai@spit.ac.in</p>
        </cenyer>
      </div>
    </div>
</span>
</div> 

